html, body { 
    height: 100%;
}

body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #C4FFBE;
    color: black;
}

p, h1, h2{
    text-align: center;
}

div {
    justify-content: center;
}