.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.parent{
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-section{
    width: 100%;
}

.form-card{
    border-color: aliceblue;
    border-radius: 10px;
    border-style: solid;
    width: 100%;
}

form{
    margin: 10px;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

input{
    margin: 10px 0px;
}

.button-center{
    align-items: center;
    text-align: center;
    justify-content: center;
}